body{
    margin: 0;
    padding: 0;
    background-image: url(back.jpg);
    background-size: 100%;
    background-positon: center; 
    
}

h1{
	 color: #111; font-family: 'Helvetica Neue', sans-serif; 
   font-size: 275px; 
   font-weight: bold;
    letter-spacing: -1px; 
    line-height: 1;
    text-align: center; 
	padding-bottom: : 500px;
  color:white;
}
.but{
	padding-left: 25%;
  font-family: sans-serif;
	}

.button {
  border-radius: 4px;
  background-color: #4CAF50;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

img {
	width:15%;
  padding-top: 7%;
  padding-left:43%;
 }

.back{	
    width: 100%;
    height: autos;
    opacity:0.5;
}